.form{
	width: 250px;
	height: 450px;
	border: 5px solid white;
	border-radius: 10px;
	margin: 135px 560px;
	padding: 10px 60px;
	background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 100px;
	min-height: 100px;

}
body{
	background-image: url('https://cdn.wallpapersafari.com/29/1/0gWBzS.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 2500px;
	max-width: 5000px;

}
.button{
	color: white;
	/*margin: 0px 5px; */
    background-color: royalblue;
    border-radius: 22px;
    padding: 5px 0px ;
	width: 250px;

}
.forgot{
	margin: 130px;
}
#user{
	width: 250px;
	height: 20px;
	border-radius: 7px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
        background-color: lightblue;	
	padding: 2px 5px;
}
.name{
	margin: 10px;
	color: ;
}
