.form{
	width: 250px;
	height: 450px;
	border: 5px solid white;
	border-radius: 10px;
	margin: 8% 37.5%;
	padding: 10px 60px;
	background-color: white;
	background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	/*border: 5px solid white;
	border-radius: 10px;
	background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/


}

body{
	background-image: url('https://cdn.wallpapersafari.com/29/1/0gWBzS.jpg');
	background-repeat: no-repeat;
	background-size: 1500px;

}
@media screen and (max-width: 767px)
{
	.form {
		width: 150px;
	    height: 480px;
	    margin: 22% 15%;
	    background-color: blue;

	}
	body{
		background-image: url('https://cdn.wallpapersafari.com/29/1/0gWBzS.jpg');
		background-repeat: no-repeat;
		background-size: 1300px;

	}
	.butt{
		margin-left: -45px;
		
	}
	#user{
		margin-left: -45px;
	}
	.forgot{
		font-size: 15px;
		left: 1125px;
		

		
	}
	.pree{
		margin-left: -50px;
	}
	.forgo{
		font-size: 12px;
		margin-left: -15px;
	}
	.lin{
		font-size: 10px;
	}
	.pre{
		margin-left: 30px;
	}
	.name{
		padding: 25px;
		font-size: 14.5px;


	}
}
.button{
	color: white;
	margin: 0px 5px; 
    background-color: royalblue;
    border-radius: 22px;
    padding: 5px 0px ;
	width: 235px;

}
.forgot{
	margin: 100px;
}
#user{
	width: 225px;
	height: 20px;
	border-radius: 7px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
    background-color: lightblue;
	
	padding: 2px 5px;
}
.pre{
	margin-left: 70px;
}
.pree{
	margin-left: 105px;
}
.name{
	margin: 10px;
}

