.form{
	width: 250px;
	height: 450px;
	border: 5px solid white;
	border-radius: 10px;
	margin: 8% 37.5%;
	padding: 10px 60px;
	/*background-image: url('https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: white;
	

}

body{
	background-image: url('https://cdn.wallpapersafari.com/29/1/0gWBzS.jpg');
	background-repeat: no-repeat;
	background-size: 1500px;

}
@media screen and (max-width: 767px)
{
	.form {
		width: 100px;
	    height: 380px;
	    margin: 18% 24%;
	    background-color: blue;

	}
	body{
		background-image: url('https://cdn.wallpapersafari.com/29/1/0gWBzS.jpg');
		background-repeat: no-repeat;
		background-size: 1300px;

	}
	.button{
		margin: -21px;
	}
	#user{
		margin: 5px -20px;
	}
	.forgot{
		font-size: 14.5px;
		

		
	}
	.forgo{
		font-size: 14.5px;
	}
	.lin{
		font-size: 13.75px;
	}
	.name{
		/*margin-left: 5px;*/
		font-size: 14.5px;


	}
}
.button{
	color: white;
	/*margin: 0px 5px; */
    background-color: royalblue;
    border-radius: 22px;
    padding: 5px 0px ;
	width: 250px;

}
.forgot{
	margin: 100px;
}
#user{
	width: 250px;
	height: 20px;
	border-radius: 7px;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
    background-color: lightblue;
	
	padding: 2px 5px;
}
.name{
	margin: 10px;
}
